.DS_Store
.ipynb_checkpoints
*.log
build
__pycache__
output
*idea
venv
.mypy_cache
*_version.py
*.egg-info
.temp
*.png
tests/out_test/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.pdf
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib

/.pytest_cache/
/dist/
